*{
    margin: 0;
}
.custom_header, .custom_footer{
    width: 100vw;
    height: 25vh;
    border-collapse: collapse;
}
.custom_main{
    width: 100vw;
    height: 50vh;
    border-collapse: collapse;
}

td{
    text-align: center;
}

.cell-1, .cell-5, .cell-10, .cell-14{
    background-color: #a7c4e0;
    height: auto;
    width: 100vw;
}
.cell-2, .cell-13{
    background-color: #a7c4e0;
    height: 8vh;
    width: 10vw;
}
.cell-3, .cell-12{
    background-color: antiquewhite;
    height: auto;
    width: 25vw;
}
.cell-11, .cell-4{
    background-color: #a7c4e0;
    height: auto;
    width: 65vw;
}

.cell-6, .cell-9{
    background-color: aquamarine;
    width: 25vw;
}
.cell-7{
    background-color: bisque;
    height: 10vh;
    width: auto;
}
